
:root{
    --color--vogu-blue: #45449B;
    --color--vogu-red: #EE396C;
    --color--vogu-yellow: #FFD334;
    --color-vogu-green: #6EC6A6;
    --color-vogu-black: #3B393B;
    --color-vogu-white: white;  
    --color-vogu-lblack: #4F4F4F;
}

/***** 諸々の設定 *****/
/* iOS safariでダブルタップしたときに拡大するのを防ぐ */
html{
    touch-action: manipulation;
}


/***** 基本の色の設定 *****/
.vogu_blue{
    background-color: var(--color--vogu-blue);
    color: var(--color-vogu-white);
}
.vogu_red{
    background-color: var(--color--vogu-red);
    color: var(--color-vogu-white);
}
.vogu_yellow{
    background-color: var(--color--vogu-yellow);
    color: var(--color-vogu-white);
}
.vogu_green{
    background-color: var(--color-vogu-green);
    color: var(--color-vogu-white);
}
.vogu_black{
    background-color: var(--color-vogu-black);
    color: var(--color-vogu-white);
}
.vogu_white{
    background-color: var(--color-vogu-white);
    color: var(--color-vogu-black)!important;
}
.vogu_lblack{
    background-color: var(--color-vogu-lblack);
    color: var(--color-vogu-white);
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: var(--color-vogu-black);
  }

.calc_main {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    padding-top: 10px;
    margin: auto;
  }

.borderless{
    border: 0;
    background-color: transparent;
}

.borderless:active{
    border: 0;
    background-color: transparent;
}

.borderless:focus{
    border: 0;
    background-color: transparent;
}

.inline{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


/**** モーダル（ポップアップの設定）****/
.modal-content{
    background-color: var(--color-vogu-black)!important;
    color: var(--color-vogu-white)!important;
    border-radius: 0px;
    font-family: 'Noto Sans JP', sans-serif;
}

.modal-btn{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--color-vogu-black);
    border: 0.05rem solid white;
    color: white;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: auto;
    padding-right: auto;
    width: 30%;
    white-space: nowrap;
}
    
.modal-btn:active{
    background-color: white!important;
    color: var(--color-vogu-black)!important;
}

.modal-btn:focus{
    background-color: white;
    color: var(--color-vogu-black);
}    


/***** タブボタン *****/
/* タブ切り替えボタン */
.tab-btn{
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.2em;
}

.tab-btn:active{
    background-color: white!important;
    color: var(--color-vogu-black)!important;
}

.tab-btn:focus{
    background-color: white;
    color: var(--color-vogu-black);
}

.nav-link{
    border-radius: 0px!important;
}

.nav-pills .nav-link.active{
    background-color: white;
    color: var(--color-vogu-black);   
  }
  
  /* タブの文字色変更 */
.nav-pills .nav-link{
    background-color: var(--color-vogu-black);
    border: 0.05rem solid white;
    color: white;
  }


/***** 価値表示タブ *****/
.card-body{
    margin-left: 0px;
    margin-right: 0px;
}

.square {
    width: 100%;
    position: relative;
}

.square::before{
    padding-bottom: 100%;
    content: "";
    display: block;
}

.square-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.header{
    font-size: 1.3rem; 
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
}

.card{
    border-radius: 0px;
}

.value{
    font-family: 'Noto Sans', sans-serif;
    font-size: 4.0rem;
    padding: 0;
    margin: 0;
}

/* プラスボタンとマイナスボタン */
.plusminus-value{
    min-height: 0px;
    height: 75%;
    width: auto;
}

.plusminus-hand{
    position: absolute;
    top:25%;
    left: 25%;
    height: 50%;
    width: auto;
}

/***** 得点計算タブ *****/

/* 色の価値を表示する */

.value-ref{
    font-size: 1.8rem;
    font-family: 'Noto Sans', sans-serif;
    /* letter-spacing: -0.1em; */
}

/* プレイヤーN 表示 */
.player-num {
    display: flex;
    align-items: center; /* 垂直中心 */
    justify-content: center; /* 水平中心 */
    color: var(--color-vogu-white);
    font-size: 1.2rem;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.1em;
    margin: auto;
    white-space: nowrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .player-num:before {
    border-top: 1px solid var(--color-vogu-white);
    content: "";
    width: 100%; /* 線の長さ */
  }
  .player-num:after {
    border-top: 1px solid var(--color-vogu-white);
    content: "";
    width: 100% /* 線の長さ */
  }
  .player-num:before {
    margin-right: 1em; /* 文字の右隣 */
  }
  .player-num:after {
    margin-left: 1em; /* 文字の左隣 */
  }
  

#result {
    width: 100%;
    border: solid 1.5px;
}

/***** チェックボックス *****/
.check-btns{
    height: 100%;
    width: 30%;
}

/* ベースのチェックボックス */

.check-btns input[type=checkbox] {
    display: none;
}

/* ラベル */
.check-btns label {
    position: relative;
    cursor: pointer;
    width: 80%;
    height:auto;
    padding-bottom: 80%;
}

/* 正方形を描画 */
.check-btns input[type=checkbox]  + label::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height:100%;
    background: #fff;
    left: 0;
    top:0
}

/* チェックマーク */
.check-btns input[type=checkbox]  + label::after {
    position: absolute;
    content: '';
    display: block;
    width: 50%;
    height:auto;
    padding-bottom: 70%;
    transform: rotate(45deg);
    border-right: 5px solid #3B393B;
    border-bottom: 5px solid #3B393B;
    left: 25%;
    top: 0%;
    opacity: 0;
    transition: .1s;
}

.check-btns input[type=checkbox]:checked + label::after {
    opacity: 1;
}

/* プレイヤー削除ボタン */
.player-sub-btn:disabled{
    pointer-events: none;
    filter: invert(18%) sepia(0%) saturate(2495%) hue-rotate(323deg) brightness(87%) contrast(90%);    
}

.player-sub-btn svg{
    height:1.5em;
    margin:0;
}

/* プレイヤー追加ボタン */
.player-add-btn-img{
    height: 3rem;
}

.player-add-btn:disabled{
    pointer-events: none;
    filter: invert(18%) sepia(0%) saturate(2495%) hue-rotate(323deg) brightness(87%) contrast(90%);
}

/* 計算ボタン */
.btn-calc{
    background-color: var(--color-vogu-lblack);
    color: var(--color-vogu-white);
    border-radius: 0pt;
    border: 0.05rem solid white;
    letter-spacing: 0.2em;
}
.btn-calc:active{
    background-color: white!important;
    color: var(--color-vogu-black)!important;
}

.btn-calc:focus{
    background-color: var(--color-vogu-lblack);
    color: var(--color-vogu-white);
    border-radius: 0pt;
    border: 0.05rem solid white;
    letter-spacing: 0.2em;
}

.btn-calc:hover{
    background-color: var(--color-vogu-lblack);
    color: var(--color-vogu-white);
    border-radius: 0pt;
    border: 0.05rem solid white;
    letter-spacing: 0.2em;
}
.btn-calc:disabled{
    background-color: #3F3F3F;
    color: #6f6f6f;
    pointer-events: none;
}

/* 結果表示 */
.result{
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.1em;
    vertical-align: middle;
    margin-top: 3rem;
}

.grayout{
    filter: brightness(0.5);
}

.result-player{
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color:var(--color-vogu-white);
}

.my-template{
    display: none;
}

/* アラート */
.alert{
    /* display:inline-block; */
    height:1em;
    margin:auto
}

.alert-svg{
    pointer-events: none;
    height:100%;
}

/* 結果表示部分のトークンの塗り方 */

.shoes{
    margin-right:0.3rem;
    stroke-miterlimit:10; 
    stroke-width:2px; 
    height:1em;
}

.shoes-BLUE{
    fill: var(--color--vogu-blue);
    stroke: var(--color-vogu-blue);
}
.shoes-RED{
    fill:var(--color--vogu-red); 
    stroke:var(--color--vogu-red); 
}
.shoes-YELLOW{
    fill: var(--color--vogu-yellow);
    stroke: var(--color--vogu-yellow);
}
.shoes-GREEN{
    fill: var(--color-vogu-green);
    stroke: var(--color-vogu-green);
}
.shoes-BLACK{
    fill: var(--color-vogu-black);
    stroke: var(--color-vogu-white);
}
.shoes-WHITE{
    fill: var(--color-vogu-white);
    stroke: var(--color-vogu-white);
}

.shoes-NONE{
    fill: transparent;
    stroke:transparent;
}