
:root{
    --color--vogu-blue: #45449B;
    --color--vogu-red: #EE396C;
    --color--vogu-yellow: #FFD334;
    --color-vogu-green: #6EC6A6;
    --color-vogu-black: #3B393B;
    --color-vogu-white: white;  
    --color-vogu-lblack: #58595B;
}

/***** 諸々の設定 *****/
/* iOS safariでダブルタップしたときに拡大するのを防ぐ */
html{
    touch-action: manipulation;
}


/***** 基本の色の設定 *****/
.vogu_blue{
    background-color: var(--color--vogu-blue);
    color: var(--color-vogu-white);
}
.vogu_red{
    background-color: var(--color--vogu-red);
    color: var(--color-vogu-white);
}
.vogu_yellow{
    background-color: var(--color--vogu-yellow);
    color: var(--color-vogu-white);
}
.vogu_green{
    background-color: var(--color-vogu-green);
    color: var(--color-vogu-white);
}
.vogu_black{
    background-color: var(--color-vogu-black);
    color: var(--color-vogu-white);
}
.vogu_white{
    background-color: var(--color-vogu-white);
    color: var(--color-vogu-black)!important;
}
.vogu_lblack{
    background-color: var(--color-vogu-lblack);
    color: var(--color-vogu-white);
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: var(--color-vogu-black);
  }

.calc_main {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    padding-top: 10px;
    margin: auto;
  }

/* .container {
    padding: 30px 0;
    background-color: rgb(241, 239, 239);
} */


/* .row {
    margin-bottom: 10px;
} */

.borderless{
    border: 0;
    background-color: transparent;
}

.borderless:active{
    border: 0;
    background-color: transparent;
}

.borderless:focus{
    border: 0;
    background-color: transparent;
}

.inline{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


/**** モーダル（ポップアップの設定）****/
.modal-content{
    background-color: var(--color-vogu-black)!important;
    color: var(--color-vogu-white)!important;
    border-radius: 0px;
}


/***** タブボタン *****/
/* タブ切り替えボタン */
.tab-btn{
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.2em;
}

.tab-btn:active{
    background-color: white!important;
    color: var(--color-vogu-black)!important;
}

.tab-btn:focus{
    background-color: white;
    color: var(--color-vogu-black);
}

.nav-link{
    border-radius: 0px!important;
}

.nav-pills .nav-link.active{
    background-color: white;
    color: var(--color-vogu-black);   
  }
  
  /* タブの文字色変更 */
.nav-pills .nav-link{
    background-color: var(--color-vogu-black);
    border: 0.05rem solid white;
    color: white;
  }


/***** 価値表示タブ *****/
.card-body{
    margin-left: 0px;
    margin-right: 0px;
}

.square {
    width: 100%;
    position: relative;
}

.square::before{
    padding-bottom: 100%;
    content: "";
    display: block;
}

.square-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.header{
    font-size: 1.3rem; 
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
}

.card{
    border-radius: 0px;
}

.value{
    font-family: 'Noto Sans', sans-serif;
    font-size: 4.0rem;
}

/* プラスボタンとマイナスボタン */
.plusminus-value{
    height: 75%;
    width: auto;
}

.plusminus-hand{
    height: 45%;
    width: auto;
}

/***** 得点計算タブ *****/

/* 色の価値を表示する */

.value-ref{
    font-size: 2.0rem;
    font-family: 'Noto Sans', sans-serif;
}

/* プレイヤーN 表示 */
.player-num {
    display: flex;
    align-items: center; /* 垂直中心 */
    justify-content: center; /* 水平中心 */
    color: var(--color-vogu-white);
    font-size: 1.3rem;
    font-family: 'Noto Sans JP', sans-serif;
    margin: auto;
    white-space: nowrap;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .player-num:before {
    border-top: 1px solid var(--color-vogu-white);
    content: "";
    width: 100%; /* 線の長さ */
  }
  .player-num:after {
    border-top: 1px solid var(--color-vogu-white);
    content: "";
    width: 100% /* 線の長さ */
  }
  .player-num:before {
    margin-right: 1em; /* 文字の右隣 */
  }
  .player-num:after {
    margin-left: 1em; /* 文字の左隣 */
  }
  

#result {
    width: 100%;
    border: solid 1.5px;
}

/***** チェックボックス *****/
.check-btns{
    height: 100%;
    width: 30%;
}

/* ベースのチェックボックス */

.check-btns input[type=checkbox] {
    display: none;
}

/* ラベル */
.check-btns label {
    position: relative;
    cursor: pointer;
    width: 80%;
    height:auto;
    padding-bottom: 80%;
}

/* 正方形を描画 */
.check-btns input[type=checkbox]  + label::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height:100%;
    background: #fff;
    left: 0;
    top:0
}

/* チェックマーク */
.check-btns input[type=checkbox]  + label::after {
    position: absolute;
    content: '';
    display: block;
    width: 50%;
    height:auto;
    padding-bottom: 70%;
    transform: rotate(45deg);
    border-right: 5px solid #3B393B;
    border-bottom: 5px solid #3B393B;
    left: 25%;
    top: 0%;
    opacity: 0;
    transition: .1s;
}

.check-btns input[type=checkbox]:checked + label::after {
opacity: 1;
}


/* 計算ボタン */
.btn-calc{
    background-color: var(--color-vogu-lblack);
    color: var(--color-vogu-white);
    border-radius: 0pt;
    border: 0.05rem solid white;
    letter-spacing: 0.2em;
}
